*{
   margin:0%;
   padding:0%;
   box-sizzing: border-box;
}

html,body{
   height: 100%;
   width: 100%
}

#header{
    height: 10%;
    width: 100%;
    background-color: white;
    display: flex;
}

.logo{
    height: 100%;
    width: 10%;
}

.logo img{
    height: 40px;
    width: 95px;
    background-position: center;
    margin-left: 16px;
    margin-top: 12px;
}

.badabox{
    height: 100%;
    width: 22%;
    display: flex;

}

.chotubox{
    background-color: white;
    padding-top: 25px;
    padding-left: 20px;
    height: 100%;
    width: 100%;
    font-size: 12px;
}

#page1{
    height: 100%;
    width: 100%;
}

.something{
    height: 3%;
    width: 100%;
}

#page2{
    height: 77%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.images1{
    height: 90%;
    width: 22%;
}

#page3{
    height: 100%;
    width: 100%;
    background-color: grey;
}

.x1 p{
    height: 12%;
    width: 100%;
    color: black;
    font-size: 20px;
    padding-top: 28px;
    padding-left: 80px;
    font-size: 36px;
}

.page3lite{
    height: 88%;
    width: 100%;
    background-color: pink;
    display: flex;
}

.boxx1{
    height: 100%;
    width: 50%;
    background-color: lightblue;
    padding-top: 20px;
    padding-left: 80px;
    font-size: 22px;
}

.boxx2{
    height: 100%;
    width: 50%;
    background-color: rgb(0, 108, 145);
}

.boxx1 p{
    padding-top: 19px;
    padding-left: 32px;
}